/*
CSS de: Footer

# Diseño y estructuras de footer

@Autor: Pablo López Luján
        github.com/pablolop12
*/


.own-footer {
    background: rgba(0, 0, 0, 0.692);
    width: 100%;
    margin: auto;
    padding: 15px;
    transition: all 0.2s ease-in-out;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.596);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5.5px);
}

.own-footer a{
    color: white !important;
}

.own-footer a:hover{
    color: rgb(209, 109, 255) !important;
}

.own-footer,
h6 {
    color: #ffffff75;
}